.wrapper-mobile {
    background-color: var(--white);
  }
  
.featured-image img{
    width: 120px;
    margin: 20px 0 0 0;
}

.header{
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: auto 20%;
}

.header a{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    padding-right: 10%;
}

h1{
    font-size: 15px;
    font-weight: 700;
}

.form-control {
    background-color: var(--light-primary);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

::placeholder{
    font-size: 14px;
    color: var(--light-grey);
}

label{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
}

small{
    display: block;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 11px;
}

.form-block{
    display: block;
}

.inline-form{
    display: inline-flex;
    width: 45%;
}

p{
    display: inline;
    margin: auto 15px;
}

textarea{
    height: 100px;
}


/*---------------Button-------------*/
.sm-btn-secondary {
    border: none;
    margin: 20px 0;
}

.lg-btn-primary {
    border: none;
}


/*-----------------Image Asset-------------*/
.hero-img .img-2 {
    position: inherit;
    /* top: 0; */
    margin-top: -18rem;
    z-index: -1;
    width: 100%;
}
  
.hero-img .img-1 {
    z-index: 20;
    width: 100%;
}

.hero-img{
    margin-bottom: -1.3vh;
}