.wrapper-mobile {
  background-color: var(--white);
}

.login-content {
  background-color: white;
  padding-top: 5rem;
}

.featured-image img {
  width: 120px;
  margin: 20px 0 0 0;
}

.featured-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

p {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 13px;
  text-align: center;
}

small {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 11px;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 20px;
  margin: 25px 0 10px;
  font-weight: 700;
}

.header-text .desc {
  color: var(--secondary-color);
}

.form-control {
  background-color: var(--light-primary);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

::placeholder {
  font-size: 14px;
  padding-left: 10px;
  color: var(--light-grey);
}

.img-login-container {
  background-color: white;
}

.image-login {
  margin-top: -3rem;
}

#error-message {
  display: flex;
  justify-content: flex-start;
}

#error-message p {
  color: var(--secondary-color);
  font-weight: bold;
}

/* ---------Button--------- */

.lg-btn-primary {
  border: none;
}

/* ------------------------Specific Register------------------------ */

label {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
}

.inline-form {
  display: flex;
  gap: 16px;
}

.spaceinput {
  /* margin-right: 20px; */
}

.register-content {
  background-color: white;
  padding-top: 5rem;
}
