<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shesafe</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet" />
  </head>
  <body>
    <div class="content-home wrapper-mobile" style="height: 100%">
      <div class="welcome-section">
        <div class="logo">
          <img class="img-fluid" src="../foto/lg_ss.png" />
        </div>

        <div class="greetings mt-4">
          <h6>Halo <span id="nama_lengkap"></span>, Bagaimana Kabarmu?</h6>
        </div>
      </div>

      <div class="cases-section">
        <div class="cases-heading">
          <h4>Kasus Terbaru</h4>
          <a href="">Selengkapnya</a>
        </div>

        <div class="cases-info mt-2">
          <p>
            Lihat kisah nyata dari para perempuan pemberani. Dukung mereka
            dengan memberikan semangat atau bagikan pengalamanmu sendiri
          </p>
        </div>

        <div class="cases-content">
          <div class="cases-card mx-1">
            <div class="cases-user">
              <p class="username">Jessica Mulan</p>
              <p>11 Oktober 2024 | 02:40pm</p>
            </div>
            <div class="cases-desc">
              <p>Saya Butuh Pertolongan: Terjebak dalam Lingkaran Kekerasan</p>
            </div>
            <button class="btn-support">100 Dukungan</button>
          </div>

          <div class="cases-card mx-1">
            <div class="cases-user">
              <p class="username">Jessica Mulan</p>
              <p>11 Oktober 2024 | 02:40pm</p>
            </div>
            <div class="cases-desc">
              <p>Saya Butuh Pertolongan: Terjebak dalam Lingkaran Kekerasan</p>
            </div>
            <button class="btn-support">100 Dukungan</button>
          </div>

          <div class="cases-card mx-1">
            <div class="cases-user">
              <p class="username">Jessica Mulan</p>
              <p>11 Oktober 2024 | 02:40pm</p>
            </div>
            <div class="cases-desc">
              <p>Saya Butuh Pertolongan: Terjebak dalam Lingkaran Kekerasan</p>
            </div>
            <button class="btn-support">100 Dukungan</button>
          </div>

          <div class="cases-card mx-1">
            <div class="cases-user">
              <p class="username">Jessica Mulan</p>
              <p>11 Oktober 2024 | 02:40pm</p>
            </div>
            <div class="cases-desc">
              <p>Saya Butuh Pertolongan: Terjebak dalam Lingkaran Kekerasan</p>
            </div>
            <button class="btn-support">100 Dukungan</button>
          </div>
        </div>
      </div>

      <div class="emergency-section">
        <div class="emergency-heading">
          <h4>Info Pusat Bantuan</h4>
        </div>
        <div class="emergency-content">
          <div class="emergency-card mx-1">
            <div class="info-telp">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none">
                <path
                  d="M16.5559 12.906L16.1009 13.359C16.1009 13.359 15.0179 14.435 12.0629 11.497C9.10788 8.55898 10.1909 7.48298 10.1909 7.48298L10.4769 7.19698C11.1839 6.49498 11.2509 5.36698 10.6339 4.54298L9.37388 2.85998C8.60988 1.83998 7.13488 1.70498 6.25988 2.57498L4.68988 4.13498C4.25688 4.56698 3.96688 5.12498 4.00188 5.74498C4.09188 7.33198 4.80988 10.745 8.81388 14.727C13.0609 18.949 17.0459 19.117 18.6749 18.965C19.1909 18.917 19.6389 18.655 19.9999 18.295L21.4199 16.883C22.3799 15.93 22.1099 14.295 20.8819 13.628L18.9719 12.589C18.1659 12.152 17.1859 12.28 16.5559 12.906Z"
                  fill="#BA324F" />
              </svg>
              <h5>1500-899</h5>
            </div>

            <div class="info-title">
              <p>Darurat KDRT</p>
            </div>
          </div>

          <div class="emergency-card mx-1">
            <div class="info-telp">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none">
                <path
                  d="M16.5559 12.906L16.1009 13.359C16.1009 13.359 15.0179 14.435 12.0629 11.497C9.10788 8.55898 10.1909 7.48298 10.1909 7.48298L10.4769 7.19698C11.1839 6.49498 11.2509 5.36698 10.6339 4.54298L9.37388 2.85998C8.60988 1.83998 7.13488 1.70498 6.25988 2.57498L4.68988 4.13498C4.25688 4.56698 3.96688 5.12498 4.00188 5.74498C4.09188 7.33198 4.80988 10.745 8.81388 14.727C13.0609 18.949 17.0459 19.117 18.6749 18.965C19.1909 18.917 19.6389 18.655 19.9999 18.295L21.4199 16.883C22.3799 15.93 22.1099 14.295 20.8819 13.628L18.9719 12.589C18.1659 12.152 17.1859 12.28 16.5559 12.906Z"
                  fill="#BA324F" />
              </svg>
              <h5>1500-899</h5>
            </div>

            <div class="info-title">
              <p>Darurat KDRT</p>
            </div>
          </div>

          <div class="emergency-card mx-1">
            <div class="info-telp">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none">
                <path
                  d="M16.5559 12.906L16.1009 13.359C16.1009 13.359 15.0179 14.435 12.0629 11.497C9.10788 8.55898 10.1909 7.48298 10.1909 7.48298L10.4769 7.19698C11.1839 6.49498 11.2509 5.36698 10.6339 4.54298L9.37388 2.85998C8.60988 1.83998 7.13488 1.70498 6.25988 2.57498L4.68988 4.13498C4.25688 4.56698 3.96688 5.12498 4.00188 5.74498C4.09188 7.33198 4.80988 10.745 8.81388 14.727C13.0609 18.949 17.0459 19.117 18.6749 18.965C19.1909 18.917 19.6389 18.655 19.9999 18.295L21.4199 16.883C22.3799 15.93 22.1099 14.295 20.8819 13.628L18.9719 12.589C18.1659 12.152 17.1859 12.28 16.5559 12.906Z"
                  fill="#BA324F" />
              </svg>
              <h5>1500-899</h5>
            </div>

            <div class="info-title">
              <p>Darurat KDRT</p>
            </div>
          </div>

          <div class="emergency-card mx-1">
            <div class="info-telp">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none">
                <path
                  d="M16.5559 12.906L16.1009 13.359C16.1009 13.359 15.0179 14.435 12.0629 11.497C9.10788 8.55898 10.1909 7.48298 10.1909 7.48298L10.4769 7.19698C11.1839 6.49498 11.2509 5.36698 10.6339 4.54298L9.37388 2.85998C8.60988 1.83998 7.13488 1.70498 6.25988 2.57498L4.68988 4.13498C4.25688 4.56698 3.96688 5.12498 4.00188 5.74498C4.09188 7.33198 4.80988 10.745 8.81388 14.727C13.0609 18.949 17.0459 19.117 18.6749 18.965C19.1909 18.917 19.6389 18.655 19.9999 18.295L21.4199 16.883C22.3799 15.93 22.1099 14.295 20.8819 13.628L18.9719 12.589C18.1659 12.152 17.1859 12.28 16.5559 12.906Z"
                  fill="#BA324F" />
              </svg>
              <h5>1500-899</h5>
            </div>

            <div class="info-title">
              <p>Darurat KDRT</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tips-section">
        <div class="tips-title">
          <h4>Tips dan Panduan</h4>
        </div>

        <div class="tips-content">
          <div class="tips-card mx-1">
            <div class="image">
              <img
                class="img-fluid"
                src="https://img.freepik.com/free-vector/flat-women-s-history-month-illustration_23-2149301501.jpg?t=st=1726025478~exp=1726029078~hmac=72d4b65f1ee84b90f2ce7a72951155f5f7429a7fc225f3e4b5fa5d2bfee2a7e7&w=740" />
            </div>

            <div class="title">
              <h6>Strategi Menghindari Situasi Beresiko</h6>
            </div>
          </div>

          <div class="tips-card mx-1">
            <div class="image">
              <img
                class="img-fluid"
                src="https://img.freepik.com/free-vector/woman-screaming-with-megaphone_23-2148462665.jpg?t=st=1726026356~exp=1726029956~hmac=9ad593de5170d0677901b5491e7fef1017ec7d540a437e416714a907a11d1928&w=740" />

              <div class="title">
                <h6>Hak - Hak Hukummu Sebagai Korban</h6>
              </div>
            </div>
          </div>

          <div class="tips-card mx-1">
            <div class="image">
              <img
                class="img-fluid"
                src="https://img.freepik.com/free-vector/flat-women-s-history-month-illustration_23-2149301501.jpg?t=st=1726025478~exp=1726029078~hmac=72d4b65f1ee84b90f2ce7a72951155f5f7429a7fc225f3e4b5fa5d2bfee2a7e7&w=740" />
            </div>

            <div class="title">
              <h6>Strategi Menghindari Situasi Beresiko</h6>
            </div>
          </div>
        </div>
      </div>

      <div id="nav-bottom"></div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  <script src="/js/home.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</html>
