<div class="heading-myjurnal">
  <div class="heading mt-4">
    <h5>My Jurnal</h5>
  </div>
</div>

<div class="myjurnal-section" id="myjurnal-sections">
  <!-- <div class="myjurnal-card">
    <div class="myjurnal-top-content">
      <div class="myjurnal-label">
        <div class="date">15 Agustus 2024</div>
        <div class="info">Draft</div>
      </div>
      <div class="myjurnal-desc" onclick="detail()">
        <h6>Hidup dalam Bayang-Bayang: Kekerasan yang Saya Hadapi</h6>

        <p>
          Dalam jurnal ini, saya menceritakan pengalaman saya menghadapi
          kekerasan dalam rumah tangga yang semakin tak tertahankan. Setiap
          harinya, rasa takut dan kecemasan menguasai hidup saya, namun saya
          masih mencari cara untuk bisa bertahan
        </p>
      </div>
    </div>

    <div class="myjurnal-bottom-content">
      <div class="myjurnal-buttons d-flex justify-content-between">
        <button class="">Edit</button>
        <button class="">Hapus</button>
      </div>
    </div>
  </div> -->
</div>

<div class="mx-1 d-flex justify-content-center my-2" id="info-jurnal"></div>
